body {
  background-color: #00111a;
  color: white;
}

.full-width {
  width: 100% !important;
}

.center {
  text-align: center;
}

.image-center {
  width: 90%;
  margin: 0 auto;
}

.flex-image-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tables {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    text-align: left;
}
.tables h3 {
  text-align: center;
  border-bottom: 1px solid black;
}
.tables ol {
  border-left: 1px solid black;
  display: flex;
  flex-direction: column;
}
.tables ol li {
  justify-content: space-between;
}
.right-side {
  width: 50%;
  display: flex;
  flex-direction: column;

}

/* -------------------- */
div.btn-container{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

div.btn-container i{
  display: inline-block;
  position: relative;
  top: -9px;
}

label {
  font-size: 13px;
  color: #ffffff;
  font-weight: 500;
}

.btn-display-mode-switch{
  display: block;
  margin: 0px auto;
  position: relative;
  width: 350px;
}

.btn-display-mode-switch > label.btn-display-mode-switch-inner{
  margin-top: 50px;
  /* margin: 0px; */
  width: 100%;
  height: 50px;
  background: #011c2a;
  border-radius: 26px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  /*box-shadow: 0px 0px 8px 0px rgba(17, 17, 17, 0.34) inset;*/
  display: block;
  cursor: pointer;
}

.btn-display-mode-switch > label.btn-display-mode-switch-inner::before{
  content: attr(data-on);
  position: absolute;
  font-size: 16px;
  font-weight: 500;
  top: 15px;
  right: 20px;

}

.btn-display-mode-switch > label.btn-display-mode-switch-inner::after{
  content: attr(data-off);
  width: 50%;
  /* width: 70px; */
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #042638;
  border-radius: 26px;
  position: absolute;
  left: 2px;
  font-size: 16px;
  /* top: 2px; */
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 6px -2px #111;
  /* padding: 5px 0px; */
}

.btn-display-mode-switch > .alert{
  display: none;
  background: #FF9800;
  border: none;
  color: #fff;
}

.btn-display-mode-switch input[type="checkbox"]{
  cursor: pointer;
  /* width: 50px; */
  height: 25px;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  margin: 0px;
}

.btn-display-mode-switch input[type="checkbox"]:checked + label.btn-display-mode-switch-inner{
  background: #151515;
  color: #fff;
}

.btn-display-mode-switch input[type="checkbox"]:checked + label.btn-display-mode-switch-inner:after{
  content: attr(data-on);
  left: 50%;
  background: #3c3c3c;
}

.btn-display-mode-switch input[type="checkbox"]:checked + label.btn-display-mode-switch-inner:before{
  content: attr(data-off);
  right: auto;
  left: 20px;
}

.btn-display-mode-switch input[type="checkbox"]:checked ~ .alert{
  display: block;
}

.table-div-holder {
  display: table;
  margin-bottom: 5%;
}

/* -------------------- */

.bonus-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bonus-info p {
  width: 30%;
}

.bonus-info img {
  width: 40%;
}

.select-bonus-holder {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 5px auto;
  padding: 5px 15px;
  width: 70%;
}

.bonus-holder {
  align-items: center;
  background: #011c2a;
  display: flex;
  justify-content: center;
  margin: 5px auto;
  padding: 5px 15px;
  width: 35%;
  border: 1px solid transparent;
  border-radius: 100px;
}

.last-opened-holder {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 40%;
}

.last-opened-element {
  margin: 0;
}

.last-opened {
  width: 90%;
  margin: 2.5% auto;
  padding: 5% 5%;
  display: flex;
  font-weight: bold;
  color: white;
  /* background-color: #ff8c00; */
  background-color: #011c2a;
  justify-content: space-between;
  border: 2px solid #464444;
  /* border: 2px solid; */
  /* border-image: url('../images/firegif.gif') 100 stretch; */
  border-radius: 100px;
  align-items: center;
  font-size: 16px;
}

.image-arrow-holder {
  border: 1px solid black;
}

.winners-holder {
  width: 100%;
}

/* .podium-image-holder img {
  max-width: 35%;
} */

.total-winner-holder {
  position: absolute;
  width: 8%;
  /* display: flex;
  flex-direction: column; */
}

.podium-image-holder {
  position: relative;
}

.podium {
  max-width: 35%;
  margin-top: 14%;
}

.winner-img {
  max-width: 100%;
}

/* .winner-img-holder {
  width: 8%;
  position: absolute;
  
} */

.total-winner-holder:nth-child(2) {
  top: 10%;
  left: 46%;
  /* max-height: 150px; */
  /* overflow: hidden;
  border: 3px solid gold;
  border-radius: 20%; */
}

.total-winner-holder:nth-child(2) > .winner-img-holder {
  border: 3px solid gold;
  border-radius: 20%;
  overflow: hidden;
}

.total-winner-holder:nth-child(3) {
  top: 18%;
  left: 36%;
  /* max-height: 150px; */
  
}

.total-winner-holder:nth-child(3) > .winner-img-holder {
  overflow: hidden;
  border: 3px solid silver;
  border-radius: 20%;
}

.total-winner-holder:nth-child(4) {
  top: 30%;
  right: 36%;
  /* max-height: 150px; */
  
}

.total-winner-holder:nth-child(4) > .winner-img-holder {
  overflow: hidden;
  border: 3px solid #CD7F32;
  border-radius: 20%;
}

.winner-total-points {
  margin: 0;
}

.left-side {
  width: 50%;
  /* position: relative; */
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: center; */
}

.red {
  color: red;
}

img {
  height: auto;
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
}

.imageHolder {
  position: relative;
}

/* .left-side img:hover {
  box-shadow: 0 0 10px #000;
} */

.content-holder {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.scoreboard-holder {
  width: 30%;
}

table {
  /* background-color: lightblue; */
  width: 100%;
  margin: 0 auto;
}

table th {
  border-bottom: 1px solid black;
}

tr:nth-child(even) {
  background-color: #011c2a;
}

tr:nth-child(odd) {
  background-color: #042638;
}

tr:nth-child(2) {
  color: gold;
}

tr:nth-child(3) {
  color: silver;
}

tr:nth-child(4) {
  color: #CD7F32;
}
.score-td {
  text-align: center;
}

.hidden {
  display: none;
}

h1 {
  font-size: 10vh;
  position: absolute;
  top: 35%;
  left: 53%;
  transform: translate(-50%,-90%);
}

.special-price {
  width: 30%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

h2 {
  transition: all 0.5s ease-in;
}

.navigation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #0B141A;
  align-items: center;
}

.nav-logo {
  max-width: 10%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.nav-logo img {
  max-width: 70%;
}

.nav-elements {
  width: 60%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.nav-elements a {
  color: white;
  text-decoration: none;
}

.nav-element {
  padding: 3px 3%;
  display: flex;
  transition: all 0.5s;
  align-items: center;
}

.nav-element:hover {
  background-color: #00111a;
  border: 0px solid transparent;
  border-radius: 50px 50px 0px 0px;
  display: flex;
  transition: all 0.5s;
  align-items: center;
  margin: 0;
}

.footer {
  background-color: #0B141A;
  text-align: center;
  color: grey;
  padding: 1.5%;
  margin-top: 2%;
}

.footer p {
  margin: 0;
}

/* custom LOGIN */

form .txt-field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.txt-field input {
  width: 100%;
  padding: 05px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.txt-field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

.txt-field span::before {
  content: '';
  position: absolute;
  top: 50px;
  left: 0px;
  width: 0;
  height: 2px;
  background: #2691d9;
  transition: 0.5s;
}

.txt-field input:focus ~ label,
.txt-field input:valid ~ label {
  top: -5px;
  color: #2691d9;
}

.txt-field input:focus ~ span::before,
.txt-field input:valid ~ span::before {
  width: 100%;
}

/* ------------ */

.login-holder {
  /* border: 2px solid grey; */
  border-radius: 2%;
  width: 25%;
  margin: 2% auto;
  background-color: white;
  padding: 2%;
  color: #00004d;
}

/* .login-holder input {
  width: 100%;
  padding: 5px 3px;
  border: 0px;
  border-bottom: 1px solid black;
}

.login-holder label {
  text-align: left;
} */

.login-button-div {
  margin: 15% 0% 20% 0%;
  display: flex;
  justify-content: center;
  /* width: 10%; */
}

.login-button-div button {
  padding: 4% 20%;
  background-color: #00004d;
  border: 1px solid transparent;
  border-radius: 20px;
  color: white;
}

.login-background {
  /* background-image: url("../images/loginbackground.jpg");
  background-size: cover; */
  background-color: #00111a;
  margin: 0;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

.login-logo-holder {
  width: 30%;
  height: auto;
  margin: 0 auto;
}

.login-logo-holder img {
  width: 100%;
  height: auto;
}

.already-opened-gift {
  max-width: 75%;
}

#mobile-nav {
  display: none;
}

.closebtn {
  display: none;
}

.transparent {
  color: transparent;
}

.small {
  font-size: 0.5px;
}

.small-img {
  width: 0.5px;
  height: 0.5px;
}

.small-image {
  width: 50px;
  height: 50px;
  border: 1px solid transparent;
  border-radius: 100px;
}

.small-image-div {
  width: 50px;
  height: 50px;
  background-size: cover;
  border-radius: 100px;
}

.clickable-pointer {
  cursor: pointer;
  width: 100%;
}

.points-gif-holder {
  position: relative;
  width: 50px;
}

.icons {
  position: absolute;
  height: 50px;
  top: 50%;
  right: 50%;
}

.ruby {
  transform: translate(50%, -45%);
}

.tombstone {
  transform: translate(50%,-59%);
  width: 115%;
  height: 60px;
}

.crownMedal {
  transform: translate(50%,-51%);
  height: 70px;
}

.firegif {
  width: 30px;
  transform: translate(50%, -73%);
}

.ice-icon {
  transform: translate(50%, -50%);
}

.icecube {
  transform: translate(50%, -50%)
}

.element-specijalna-nagrada {
  position: absolute;
  height: 50px;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.lucky {
  background-color: darkred;
  border: 2px solid goldenrod;
  color: white;
}

.unlucky {
  background-color: white;
  border: 2px solid black;
  color: black;
}

.unlucky .element-bodovi {
  color: white;
}

.element-bodovi {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.specijalna-nagrada {
  color: gold;
  border: 1px solid green;
}

.news-holder ul{
  list-style: none;
}

table {
    counter-reset: rowNumber;
}

table tr:not(:first-child) {
    counter-increment: rowNumber;
}

table tr td:first-child {
  text-align: center;
}

table tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    /* text-align: center; */
}

         
.btn-grad {
  background-image: linear-gradient(to right, #4b6cb7 0%, #182848  51%, #4b6cb7  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  cursor: pointer;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.no-height {
  height: 0;
}

.bonus-users-holder {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.bonus-user-holder {
  padding: 2%;
  border: 3px solid transparent;
  transition: ease 0.3s;
  width: 35%;
  transform: scale(1.0);
}

.bonus-user-holder:hover {
  transition: ease 0.3s;
  border: 3px solid #464444;
  background-color: #011c2a;
  transform: scale(1.1);
  cursor: pointer;
}

.additional-rewards-image {
  margin: 0 auto;
  height: 100px;
  width: 100px;
}

.bonus-user-name {
  margin-top: 10px;
  font-size: 21px;
}

.last-month-title {
  text-align: center;
}

.table-lucky {
  background-color: darkred;
  color: gold;
  font-weight: bold;
}

.all-bonuses-holder {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
}

.unopened-users {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 475px) {
  .content-holder {
    width: 95%;
    flex-direction: column;
  }

  .left-side {
    width: 100%;
  }

  .right-side {
    width: 100%;
    flex-direction: column;
  }

  .scoreboard-holder {
    width: 100%;
  }

  table {
    width: 100%;
  }

  .nav-elements {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: block;
  }

  .nav-logo {
    max-width: 20%;
  }
  
  .nav-logo img {
    max-width: 100%;
  }

  /* .nav-elements a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  } */
  
  /* .sidebar a:hover {
    color: #f1f1f1;
  } */
  
  .nav-elements .closebtn {
    display: block;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 25px;
    margin-left: 50px;
    color: white;
  }

  #mobile-nav {
    display: block;
    background-color: transparent;
    color: white;
    padding: 10px 15px;
    border: none;
    font-size: 21px;
  }

  .navigation {
    justify-content: space-between;
    padding: 1%;
  }

  .logo {
    width: 100%;
  }

  .login-holder {
    width: auto;
    padding: 10%;
    margin: 0% 5%;
  }

  .last-opened-holder {
    width: 100%;
  }

  .winners-holder {
    width: 100%;
  }

  .tables {
    flex-direction: column;
  }

  .podium {
    max-width: 100%;
    margin-top: 40%;
  }
  
  /* .winner-img {
    max-width: 100%;
  } */
  
  /* .winner-img-holder {
    width: 23%;
    position: absolute;
  } */
  .total-winner-holder {
    width: 22%;
  }
  
  .total-winner-holder:nth-child(2) {
    top: 8%;
    left: 39%;
  }
  
  .total-winner-holder:nth-child(3) {
    top: 15%;
    left: 10%;
  }
  
  .total-winner-holder:nth-child(4) {
    top:24%;
    right: 10%;
  }

  .clickable-pointer {
    width: 100%;
  }

  .bonus-holder {
    width: auto;
  }

  .all-bonuses-holder {
    width: 100%;
    flex-direction: column;
  }
}